ACCESS_TOKEN_DOCUMENT_ID="upstox_access_token"
APP_NAME="UPSTOX_APP"
APP_VERSION="2.0"
CANDLE_INTERVAL="1minute"
NIFTY_INDEX_INSTRUMENT_KEY="NSE_INDEX|Nifty 50"
EMA_LONG_PERIOD="21"
EMA_SHORT_PERIOD="9"
ENABLE_HEALTH_CHECK="true"
HEALTH_CHECK_INTERVAL_SECONDS="60"
LOG_LEVEL="INFO"
LOG_RETENTION_DAYS="30"
MARKET_END_HOUR="15"
MARKET_END_MINUTE="30"
MARKET_START_HOUR="9"
MARKET_START_MINUTE="15"
MAX_RECONNECT_ATTEMPTS="5"
MONGO_URL="Hiddend/notprovided here"
PRELOAD_HOUR="8"
PRELOAD_MINUTE="0"
RECONNECT_DELAY="5"
SCHEDULER_SLEEP_SECONDS="15"
STATS_INTERVAL_SECONDS="300"
STORE_CROSSES="true"
STORE_MASTER_CANDLES="true"
STORE_TODAY_CANDLES="true"
SUBSCRIBE_BATCH_SIZE="100"
SUBSCRIBE_BATCH_SLEEP="0.5"
TELEGRAM_BOT_TOKEN="Hiddend/notprovided here"
TELEGRAM_CHAT_ID="Hiddend/notprovided here"
TIMEZONE="Asia/Kolkata"
UPSTOX_API_VERSION="2.0"
UPSTOX_DB="UPSTOX_APP"
UPSTOX_EMA_COLL="live_ema_analysis"
UPSTOX_FEED_MODE="ltpc"
UPSTOX_STRIKES_COLL="market_analysis"
UPSTOX_TOKEN_COLL="upstox_tokens"